[DEFAULT]
module = pyFilmQA
language = python
version = 3.x

[Scanner]
brand = Microtek
model = 1000XL
format = TIFF
mode = Transmission
dpi = 72
coding = RGB
bitdepth = 16

[DosePlane]
dmax = 12
pixelsize = 1
pixelunit = mm
pixelnumber = 160x160
sizeunit = mm
width = 160
height = 160

[NonLocalMeans]
patchsize = 3
patchdistance = 10
h = 0.05
multichannel = True
channelaxis = 2
wred = 10
wgreen = 5
wblue = 1

[Models]
file = Microtek1000XLRacMPhCalibs.xlsx
mphsheet = MultiFase
racsheet = Racionales
oadcfile = Microtek1000XLOADc.npy

[Calibration]
mode = PDD
energy = 6
eunit = MV
unit = cm
fieldwidth = 10
fieldheigh = 10
um = 346.5
dfs = 75
file = PDDCalib.xlsx
sheet = Hoja1
shift = 1
depthmin = 2
depthmax = 17.5

[Base]
margin = 5
marginunit = pixel
